body {
    margin: 0;
}

.header-back {
    background-image: url("https://picsum.photos/id/4/2000/1000");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: rgba(248, 238, 219, 90%);
    padding: 40px 20px;
    background-color: rgba(36, 28, 3, 80%);
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.header img {
    width: 300px;
    height: 300px;
    border: 5px solid rgba(248, 238, 219, 90%);
    border-radius: 50%;
    filter: brightness(80%);
}

.header p {
    font-family: "Caveat", sans-serif;
}

.header button {
    margin-top: 15px;
    background-color: rgba(248, 238, 219, 90%);
    border: 0;
    border-radius: 8px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: bold;
    color: rgba(36, 28, 3, 100%);
    cursor: pointer;
    line-height: 24px;
    padding: 10px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.album {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0% 0% 3.2% 0%;
}

.album img {
    width: 21%;
    margin-top: 3.2%;
    border-radius: 5%;
    filter: brightness(40%);
    transition: 200ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.album img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.album img:hover {
    filter: brightness(80%);
}

.social {
    background: rgb(36, 28, 3);
    background: linear-gradient(90deg, rgba(36, 28, 3, 0.9) 0%, rgba(117, 88, 9, 0.7) 50%, rgba(36, 28, 3, 0.9) 100%);
    margin: 0;
    padding: 2% 0%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.social svg {
    fill: currentColor;
    color: rgba(248, 238, 219, 90%);
    font-size: 10px;
    filter: brightness(90%);
    transition: 150ms;
}

.social svg:hover {
    filter: brightness(0%);
}
